@charset "UTF-8";
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.control {
  width: 90%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto; /* centers horizontally */
  box-sizing: border-box;
}

